.vercel/

# Environment variables
.env*.local

# Common ignores
node_modules
.next/

*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

bower_components

*.sublime*

psd
thumb
sketch

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/